@font-face {
    font-family: filsonbold;
    src: url(../font/FilsonBold.ttf);
}

@font-face {
    font-family: filsonlight;
    src: url(../font/FilsonLight.ttf);
}

body {
    font-family: filsonlight;
    background: #f4f1f4;
    outline: 0;
    color: #414141;
    font-size: 16px;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

#sectionTitle {
    font: 28px filsonbold;
    text-transform: uppercase;
}

.card-item h2 {
    font-size: 20px;
    color: #ea6900;
    font-weight: 600;
}

.card-item h3 {
    color: #ea6900;
    font-size: 16px;
    font-weight: 600;
}

header {
    padding: 15px;
    background-color: #ea6900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

header i {
    font-size: 28px !important;
    cursor: pointer;
}

#logo {
    height: 28px;
    margin: 5px 0 0 18px;
}

.btnAdd {
    background-color: white;
    width: 35px;
    height: 35px;
    font: 35px filsonbold;
    text-transform: uppercase;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card-item {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    background-color: white;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-card {
    cursor: pointer;
}

.dataInfo {
    color: #929292;
    font-size: 16px;
}

.btnEdit {
    color: #ea6900;
    padding: 0;
    border: none;
    background-color: transparent;
}

.btnDel {
    color: #ea6900;
    padding: 0;
    border: none;
    background-color: transparent;
}
