@font-face {
    font-family: filsonbold;
    src: url(../font/FilsonBold.ttf);
}
@font-face {
    font-family: filsonlight;
    src: url(../font/FilsonLight.ttf);
}

body{
    font-family: filsonlight;
    background: #f4f1f4;
    outline: 0;
    color: #414141;
    font-size: 16px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}